
{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block titulo %}

{{ user.first_name }} {{ user.last_name }}
{% endblock titulo %}
{% block content %}
<!-- titulo -->
<div class="container text-center py-0">
  <h1>Editar Perfil {{ user.username }}</h1>
</div>

<form class="row g-4 mt-4" method="POST" id="form">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <!-- datos del cliente -->
      <div class="col-sm-12 col-md-4 col-lg-4">

        {% csrf_token %}
        {{ form.non_field_errors }}
        
        <div class="col mb-3">
          {{ form.rut.label_tag }}
          {{ form.rut|add_class:'form-control' }}
        </div>
        <div class="row">
          <div class="col mb-3">
            {{ form.first_name.label_tag }}
            {{ form.first_name|add_class:'form-control' }}
          </div>
          <div class="col mb-3">
            {{ form.last_name.label_tag }}
            {{ form.last_name|add_class:'form-control' }}
          </div>
        </div>

        <div class="col mb-3">
          {{ form.email.label_tag }}
          {{ form.email|add_class:'form-control' }}
        </div>
        <div class="col mb-3">
          {{ form.direccion.label_tag }}
          {{ form.direccion|add_class:'form-control' }}
        </div>
        <div class="text-center">
          <div>
            <button class="btn btn-primary" type="submit">Actualizar datos de perfil</button>
          </div>
          {% if mesg %}
          <div id="form_message" class="alert alert-danger" role="alert">{{ mesg }}</div>
          {% endif %}
        </div>





      </div>

    </div>

  </div>
  </div>
</form>






{% endblock %}   