
{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
Nosotros
{% endblock titulo %}

{% block content %}

<div class=" container text-center">
        <h1>
            Nuestra Misión
        </h1>
        <p class="parrafos" style="text-align: justify;">
          En SERVIEXPRESS, nuestra misión es ofrecer a nuestros clientes servicios de calidad superior y soluciones mecánicas efectivas. Nos esforzamos 
          por superar las expectativas, proporcionando un servicio rápido y confiable que garantice la satisfacción de cada cliente que confía en nosotros.
        </p>
        <p class="parrafos" style="text-align: justify;">
          Contamos con un equipo de mecánicos altamente capacitados y experimentados que comparten una pasión por la excelencia en el servicio. 
          Nuestra dedicación a la formación continua nos permite estar al tanto de las últimas tecnologías y técnicas, asegurando que tu vehículo 
          reciba la atención que merece.
        </p>
        <p class="parrafos" style="text-align: justify;">
          En SERVIEXPRESS, ofrecemos una amplia variedad de servicios mecánicos, desde mantenimiento preventivo hasta reparaciones especializadas. 
          Ya sea que necesites un cambio de aceite, una revisión del sistema de frenos o una reparación más extensa, estamos equipados 
          para manejarlo con eficiencia y precisión.
        </p>
        <p class="parrafos" style="text-align: justify;">
          Entendemos que tu tiempo es valioso. Por eso, en SERVIEXPRESS, ofrecemos un sistema fácil y conveniente para programar citas en línea.
          Puedes reservar tu cita con anticipación, lo que te permite planificar tu día sin preocupaciones innecesarias.
        </p> 
        <p class="parrafos" style="text-align: justify;">
          Utilizamos piezas y productos de la más alta calidad en todas nuestras reparaciones y mantenimientos. 
          Trabajamos con proveedores confiables para garantizar la durabilidad y el rendimiento de cada componente que instalamos en tu vehículo.
        </p>
        <p class="parrafos" style="text-align: justify;">
          En SERVIEXPRESS, tu satisfacción es nuestra principal prioridad. Estamos comprometidos a brindar un servicio al cliente excepcional, 
          escuchando tus necesidades y respondiendo a tus preguntas de manera clara y completa. Tu confianza en nosotros es invaluable, y 
          trabajamos incansablemente para ganarla y mantenerla.
        </p>
        <p class="parrafo" style="text-align: justify;">
          Confía en SERVIEXPRESS para cuidar de tu vehículo como si fuera el nuestro. Estamos aquí para brindar servicios mecánicos confiables 
          y de calidad que mantendrán tu vehículo en la carretera y en su mejor estado. ¡Gracias por elegir SERVIEXPRESS!
        </p>
      
          <!-- FOTOS DE -->
    <h5 class="parrafos">Dueño: </h5>
    <br>
    <div class="row" style="justify-content: center;">
      <div class="col-md-4">
        <div class="card-xs">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'core/img/images/perfil_1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Juan Pedro</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
  
{% endblock %}   