{% extends 'core/base.html' %}
{% load static %}

{% load custom_filters %}
{% block titulo %}

Admin. Usuarios
{% endblock titulo %}

{% block content %}

<div class="container text-center py-0">
  <h2>Listado de Usuarios</h2>
</div>

    <br>

<!-- Tabla con registro de usuarios -->
{% if usuarios %}
  <div class="table-responsive">
    <table id="tabla-principal" class="container table table-sm table-bordered">
      <thead>
          <tr>
              <th> ID </th>
              <th> Tipo </th>
              <th> Nickname </th>
              <th> Ultima conexión </th>
              <th> Email </th>
              <th> Foto </th>
          </tr>
      </thead>
      <tbody class="table-group-divider" style=" text-align: center">
          {% for perfil in usuarios %}
              <tr>
                  <td> {{ perfil.id }} </td>
                  <td> {{ perfil.tipo_usuario }} </td>
                  <td> {{ perfil.user.username }} </td>
                  <td> {{ perfil.user.last_login }} </td>
                  <td> {{ perfil.user.email }} </td>
                  <td>
                    <img src="/media/{{ perfil.imagen }}" style="height: 170px; width: 170px" alt="Foto de perfil">
                  </td>
              </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}

  
  

{% endblock %}  